body{
    background-size: cover;
}
.heading {
    font-size: 23xp;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 15px;
    color: black;
}
.div_speed {
float: left;
}
.div_speed_img {
    width: 200px;
    border-radius: 100px;
}
#speed {
    font-size: 23px;
    margin: 15px;
}

.div_volume {
    float: right;
    }
    .div_volume_img {
        width: 200px;
        border-radius: 100px;
    }
    #volume {
        font-size: 23px;
        margin: 15px;
    }
    .play_button {
        font-size: 35px;
        border-radius: 15px;
    }
    canvas {
        border-radius: 20px;
        border: 10px solid white;
    }